@font-face {
  font-family: 'Akshar-Light';
  src: url('.../font/Akshar-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Akshar-Regular';
  src: url('.../font/Akshar-Regular.ttf') format('truetype');
  font-weight: normal;
}
